<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Enter two numbers to add together</p>
    <form method="post" action="/">
    <p>First number: <input type="text" id="a" name="a" /></p>
    <p>Second number: <input type="text" id="b" name="b" /></p>
    <p><input type="submit" value="Add" /></p>
    </form>
  </body>
</html>
